.wats_loading {
	background: url('../img/indicator.gif') left center no-repeat;
        margin-left:10px;
        padding-left:20px;
}

.wats_stop_loading {
        margin-left:10px;
        padding-left:20px;
}

.editable {
	background: url('../img/modify.png') right center no-repeat;
}

.editableaccept {
	background: url('../img/accept.png') right center no-repeat;
}

li.wats {
	margin-left:10px;
}